.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 10px;
}

.header__separator {
  content: "";
  width: 100%;
  height: 1px;
  margin: 10px 0;

  background-color: #000;
}

.header__logo {
  font-size: 20px;
  font-weight: 700;
}

.navbar {
  width: 100%;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.navbar__link {
  text-transform: uppercase;
  font-weight: 500;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
  .header__separator {
    flex: 1;
    width: initial;
    margin: 10px 20px;
  }
  .header__logo {
    font-size: 16px;
  }
  .navbar {
    width: initial;
  }
  .navbar__list {
    padding: initial;
  }
  .navbar__listItem:nth-child(2) {
    padding: 0 10px;
  }
  .navbar__link {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 20px;
  }
  .navbar__listItem:nth-child(2) {
    padding: 0 15px;
  }
}
