.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 10px;

  text-align: center;
}

.home__title {
  position: relative;
  margin-bottom: 20px;

  font-size: 24px;
}
.home__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5px;
  width: 100%;
  height: 8px;
  background-color: #6d79c6;
  opacity: 0.2;
}

.home p {
  padding-bottom: 20px;
  line-height: 1.4;
}

.home__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.btn {
  flex: 1;
  margin: 0 10px;
  padding: 8px 12px;

  font-size: 12px;
  border: 1px solid #344399;
}

.btn-primary {
  color: #fff;
  background-color: #344399;
}

.btn-secondary {
  color: #344399;
}

@media (min-width: 768px) {
  .home {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .home__title {
    margin-bottom: 40px;
  }

  .home p {
    padding-bottom: 40px;
  }
}
