.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 10px;
}

.projects__container {
  margin-bottom: 30px;
}

.projects img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  object-position: left;
}

.projects__infosTitle {
  cursor: pointer;
  padding: 10px 0;
  color: #344399;
}

.projects__infosTechnos {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.projects__infosText {
  padding: 10px 0;
  line-height: 1.4;
}

.projects__infosLink {
  display: flex;
  align-items: center;
}

.projects__infosLink > svg {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .projects {
    padding-left: 20px;
    padding-right: 20px;
  }
  .projects__container {
    display: flex;
    max-width: 728px;
  }

  .projects__title {
    margin-bottom: 40px;
  }

  .projects img {
    max-width: 300px;
    height: 225px;
  }

  .projects__infos {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  .projects__infosTitle {
    padding-top: initial;
  }

  .projects__infosLink {
    margin-top: auto;
  }
}

@media (min-width: 1200px) {
  .projects__container {
    max-width: 925px;
    margin-bottom: 50px;
  }

  .projects img {
    max-width: 450px;
    height: 300px;
  }

  .projects__infos {
    padding-left: 50px;
  }
  .projects__infosText {
    line-height: 1.6;
  }
}
