html {
  background-color: #eee;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.title-underscored {
  position: relative;
  margin-bottom: 20px;

  font-size: 24px;
}
.title-underscored::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: -5px;
  width: 100%;
  height: 8px;
  background-color: #6d79c6;
  opacity: 0.2;
}

@media (min-width: 1200px) {
  .title-underscored {
    font-size: 28px !important;
    margin-bottom: 40px !important;
  }
}
