.technos {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 10px;

  text-align: center;
}

.technos__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 10px;
}

.technos__container > svg {
  flex-basis: 15%;
  margin: 10px;
}

.technos__container svg {
  width: 32px;
  height: 32px;
}

@media (min-width: 1200px) {
  .technos__container svg {
    flex-basis: initial;
    width: 40px;
    height: 40px;
  }
}
